{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
</head>
<body>
    <ul class="login-box">
        <a href="#"><button class="btn">Home</button></a>
        {% if user.is_authenticated %}
        <li>Hello,{{user.first_name}}</li>
        <a href="accounts/logout"><button class="btn">Logout</button></a>
        {% else %}
        <a href="accounts/register"><button class="btn">Register</button></a>
        <a href="accounts/login"><button class="btn">Login</button></a>
        {% endif %}
    </ul>
</body>
</html>